.admin {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    color: #343a40;
}

.registration-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-description {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    margin: 10px 0 5px;
}

.form-input,
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-button:hover {
    background-color: #0056b3;
}

.logout-form {
    margin-top: 20px;
}
