.user {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.description {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.subtitle {
    margin: 20px 0;
    color: #333;
    text-align: center;
}

.prompt {
    text-align: center;
    margin: 10px 0;
}

.form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.form-button:hover {
    background-color: #45a049;
}

.styled-table {
    width: 80%;
    margin: 25px auto;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}
